<!-- Main content -->
<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">

            <ngx-spinner bdColor="rgba(0, 0, 0, 0)" size="medium" color="#007bff" type="ball-clip-rotate"></ngx-spinner>

            <div class="col-12">
                <app-msg-feedback [msg]="msg" [type]="type"></app-msg-feedback>
            </div>

            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <span class="mt-3 title">
                            <i class="fas fa-plus nav-icon ml-1"></i>
                            ADICIONAR EMPRESA
                        </span>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="create()">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <app-input-social-name formControlName="social_name"
                                        [control]="form.get('social_name')" [classCss]="applyCssError('social_name')">
                                    </app-input-social-name>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <app-input-cnpj formControlName="cnpj" [control]="form.get('cnpj')"
                                        [classCss]="applyCssError('cnpj')"></app-input-cnpj>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <app-input-address formControlName="address" [control]="form.get('address')"
                                        [classCss]="applyCssError('address')"></app-input-address>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <app-input-email formControlName="email" [control]="form.get('email')"
                                        [classCss]="applyCssError('email')"></app-input-email>
                                </div>

                                <div class="col-12 mt-3">
                                    <hr>
                                    <h5 class="text-primary font-weight-bold">CONTATOS</h5>
                                </div>

                                <div class="col-12" formArrayName="contacts"
                                    *ngFor="let item of form.get('contacts')['controls']; let i = index;">
                                    <div class="row" [formGroupName]="i">
                                        <div class="col-md-6 col-sm-12">
                                            <app-input-name formControlName="name" [required]="true"></app-input-name>
                                        </div>

                                        <div class="col-md-6 col-sm-12">
                                            <app-input-name formControlName="last_name" label="Sobrenome"
                                                placeholder="Digite o sobrenome" [required]="true"></app-input-name>
                                        </div>

                                        <div class="col-md-6 col-sm-12">
                                            <app-input-email formControlName="email"></app-input-email>
                                        </div>

                                        <div class="col-md-6 col-sm-12">
                                            <app-input-phone formControlName="phone" [required]="true"></app-input-phone>
                                        </div>

                                    </div>
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-primary mr-2" (click)="addNewInputField()"><i
                                            class="fas fa-plus mr-1"></i>ADICIONAR</button>
                                    <button type="button" class="btn btn-danger" (click)="removeInputField(count)"><i
                                            class="fas fa-times mr-1"></i>REMOVER</button>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="buttons">
                                <app-btn-cancel [routerLink]="'/'"></app-btn-cancel>
                                <app-btn-submit></app-btn-submit>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /.content -->