<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" [fullScreen]="true" size="medium" color="#007bff" type="ball-clip-rotate"></ngx-spinner>

            <div class="col-12">
                <!--<app-msg-feedback [msg]="msg" [type]="type"></app-msg-feedback>-->
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <div class="row">
                            <div class="col-6">
                                <span class="title mt-1">
                                    <i class="fas fa-building nav-icon ml-1"></i>
                                    EMPRESAS
                                </span>
                            </div>
                            <div class="col-6">
                                <div class="buttons">
                                    <a [routerLink]="'create'" class="float-end btn btn-sm btn-secondary">
                                        <i class="fas fa-plus btn-icon"></i>
                                        ADICIONAR
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="display nowrap table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Ações</th>
                                    <th>Razão Social</th>
                                    <th>CNPJ</th>
                                    <th>Endereço</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of companies">
                                    <td>{{ item.id }}</td>
                                    <td>
                                        <a [routerLink]="['edit', item.id]" title="Editar"
                                            class="btn btn-sm btn-outline-secondary mr-2">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <button type="button" (click)="delete(item.id)" title="Excluir"
                                            class="btn btn-sm btn-outline-secondary">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                    <td>{{ item.social_name }}</td>
                                    <td>{{ item.cnpj }}</td>
                                    <td>{{ item.address }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #deleteModal>
    <div class="modal-header bg-danger">
        <h5 class="modal-title">EXCLUIR ITEM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Tem certeza que deseja excluir essa empresa?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="onConfirm()">Apagar</button>
    </div>
</ng-template>