label {
    font-size: 11pt;
    font-weight: normal;
}
.fa-asterisk{
    color: 	#FF0000;
    font-size: 9pt;
    padding-left: 2px;
}
/*VALIDAÇÃO*/
.has-error input {
    border: 1px solid #dc3545 !important;
}
.has-error .input-group-text {
    border: 1px solid #dc3545 !important;
    background-color: #fbe1e3;
}